.checkout-content {
    display: flex;
    flex-direction: column;
    background-color: #eae7f1;
    width: 100%;
    padding-bottom: 10%;
}

.checkout-container {
    padding: 5% 10% 5% 10%;
}

.checkout-row {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.checkout-row img {
    width: 20em;
    object-fit: contain;
}

.checkout-finish-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkout-finish-row p {
   padding-left: 60%;
}

.checkout-pay {
    background-color: #000000;
    color: #ffffff;
    border: solid #000000;
    border-radius: 5px;
    font-size: inherit;
    height: 2em;
    width: 5em;
    margin-left: 20%;
}

/* Email validation */

.email-container {
    padding: 5em;
  }
  
  .email-input {
    width: 25em;
    padding: 0.8em 1em;
  }
  
  .message {
    margin-top: 1em;
    font-size: 1em; 
  }
  
  .success {
    color: blue;
  }
  
  .error {
    color: red;
  }

  .checkout-pay.disable {
      border: lightgray;
      background-color: lightgray;
  }

@media only screen and (max-width: 800px) {
    .checkout-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5%;
        font-size: 0.8em;
    }

    .checkout-row img {
        height: 30%;
        width: 30%;
        object-fit: contain;
    }

    .checkout-finish-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .checkout-finish-row p {
        padding-left: 20%;
     }

    .checkout-pay {
        background-color: #000000;
        color: #ffffff;
        border: solid #000000;
        border-radius: 5px;
        font-size: inherit;
        height: 2em;
        width: 5em;
        align-self: auto;
    }
}

@media only screen and (max-width: 420px) {
/* Email validation */
    .email-container {
    padding: 20px 10px;
  }
  
  .email-input {
    width: 15em;
  }
  
  .message {
    font-size: 0.8em; 
  }
} 