.category-content {
    background-color: #eae7f1;
    height: 100%;
    padding-bottom: 10%;
}

.movie-category {
    padding: 5% 10% 5% 10%;
}

.categories-h1 {
    display: flex;
    justify-content: flex-start;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
    align-items: center;
    justify-content: center;
}

.category-button {
    background-color: #b5bfe2;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0px 5px 5px;
}

.category-button:hover {
    background-color: #7c88b4;
}

.category-button:active {
    transform: translateY(-1px);
    border-radius: 5px;
    box-shadow: 0 5px 5px;
}

.all-categories-container {
    overflow: scroll;
    padding: 0% 20% 5% 20%;
    height: 500px;
}

.all-categories-container::-webkit-scrollbar {
    width: 1em;
}

.all-categories-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
    align-items: center;
    justify-content: center;
}

.all-categories {
    display: flex;
    flex-direction: column;
    background-color: #cfcfcf;
    height: 350px;
    width: 200px;
}

@media only screen and (max-width: 768px) {
    .category-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
    }
    .all-categories-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
    }
}

