.all-categories {
    /* display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    height: 350px;
    width: 200px; */

    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
}

.category-poster {
    position: relative;
    text-align: center;
    width: 100%;
}

.category-content {
    height: 100%;
    padding-bottom: 10%;
}

.categories-buttons {
    padding: 5% 10% 5% 10%;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
    align-items: center;
    justify-content: center;
}

.category-button {
    background-color: #b5bfe2;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0px 5px 5px;
}

.category-button:hover {
    background-color: #7c88b4;
}

.category-button:active {
    transform: translateY(-1px);
    border-radius: 5px;
    box-shadow: 0 5px 5px;
}

.all-categories-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 1em;
}

.all-categories-container {
    display: flex;
    justify-content: center;
    overflow: scroll;
    /* padding: 0% 20% 5% 10%; */
    height: 25em;
    /* Hides scrollbar for Internet Explorer, Edge and Firefox */
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hides scrollbar for Chrome, Safari and Opera */
.all-categories-container::-webkit-scrollbar {
    display: none;
}

.all-categories-grid {
    display: grid;
    grid-template-columns: repeat(5, 11em);
    grid-gap: 1.5em;
    align-items: center;
    justify-items: center;
}

.all-categories-grid img {
    height: 15em;
    object-fit: contain;
}

.all-categories-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 2em;
}

.category-contain {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 3em;
}

.categories-change-page {
    display: flex;
    justify-content: center;
}

.category-change {
    padding: 1em;
}

.categories-change-button {
    padding: 0.5em;
    background-color: transparent;
    border: transparent;
    font-size: 1em;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .category-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
    }

    .all-categories-container {
        overflow: scroll;
        padding: 0% 20% 5% 20%;
        height: 500px;
    }

    .all-categories-grid {
        display: grid;
        grid-template-columns: repeat(5, 11em);
        grid-gap: 1.5em;
        align-items: center;
        justify-items: center;
        z-index: 0;
    }
}

@media only screen and (max-width: 800px) {
    .category-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
    }

    .all-categories-grid {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        z-index: 0;
    }
}

@media only screen and (max-width: 420px) {
    .category-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
    }

    .all-categories-grid {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        z-index: 0;
    }
}

