.category-content {
    background-color: #eae7f1;
    height: 100%;
    padding-bottom: 10%;
}

.movie-category {
    padding: 5% 10% 5% 10%;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
    align-items: center;
    justify-content: center;
}

.category-button {
    background-color: #b5bfe2;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0px 5px 5px;
}

.category-button:hover {
    background-color: #7c88b4;
}

.category-button:active {
    transform: translateY(-1px);
    border-radius: 5px;
    box-shadow: 0 5px 5px;
}

.all-categories-container {
    overflow: scroll;
    padding: 0% 20% 5% 20%;
    height: 500px;
    
}

/* Hides scrollbar for Chrome, Safari and Opera */
.all-categories-container::-webkit-scrollbar {
    display: none;
}

.all-categories-container {
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.all-categories-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
    align-items: center;
    justify-content: center;
    
}

.all-categories {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    background-color: #cfcfcf;
    height: 350px;
    width: 200px;
}

.all-categories-heart {
    position: absolute;
    top: 2%;
    right: 10%;
    font-size: 2em;
    color: white;
}

@media only screen and (max-width: 768px) {
    .category-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
    }
    .all-categories-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
        z-index: 0;
    }
}

