.kids-category-button{
    visibility: hidden;
}
@media only screen and (max-width: 768px) {
    .category-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
    }
    .all-categories-grid {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        z-index: 0;
    }
}