.kids-category-button{
    visibility: hidden;
}
.kids-category-content {
    height: 100%;
    padding-bottom: 10%;
}

.kids-movie-category {
    padding: 5% 10% 5% 10%;
}
.kids-categories-h1{
    top: ;
    left: 43%;
    position: absolute;
}

.kids-category-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
    align-items: center;
    justify-content: center;
}

.kids-category-button {
    background-color: #b5bfe2;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0px 5px 5px;
}

.kids-category-button:hover {
    background-color: #7c88b4;
}

.kids-category-button:active {
    transform: translateY(-1px);
    border-radius: 5px;
    box-shadow: 0 5px 5px;
}

.kids-all-categories-container {
    overflow: scroll;
    padding: 0% 20% 5% 20%;
    height: 500px;
    /* Hides scrollbar for Internet Explorer, Edge and Firefox */
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hides scrollbar for Chrome, Safari and Opera */
.kids-categories-container::-webkit-scrollbar {
    display: none;
}

.kids-categories-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
    align-items: center;
    justify-content: center;
    
}

.kids-categories {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    background-color: #ffffff94;
    height: 350px;
    width: 200px;
}

.kids-categories-heart {
    visibility: hidden;
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 2em;
}

.kids-category-poster {
    height: 250px;
}

.kids-categories-change-page-button-previous {
    display: flex;
    justify-content: center;
}
.kids-categories-change-page-button-next {
    display: flex;
    justify-content: center;
}

.kids-category-change {
    padding: 1em;
}

.kids-categories-change-button-previous {
    left: 35%;
    top: 94%;
    position: absolute;
    padding: 0.5em;
    background-color: transparent;
    border: transparent;
    font-size: 1em;
    font-weight: bold;
}
.kids-categories-change-button-next {
    
    left: 50%;
    top: 94%;
    position: absolute;
    padding: 0.5em;
    background-color: transparent;
    border: transparent;
    font-size: 1em;
    font-weight: bold;
}


.kids-categories-change-button-previous:hover {
    color: #7287F5;
    transform: scale(1.1);
}

.kids-categories-change-button-next:hover {
    color: #7287F5;
    transform: scale(1.1);
}


@media only screen and (max-width: 768px) {
    .kids-category-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
    }
    .kids-categories-grid {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        z-index: 0;
    }
}