.login-content {
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    display: flex;
    align-items: center;
    justify-items: center;
    position: absolute;
    left: 43%;
    top: 20%;
}

.login-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10%;
}

.mail {
    display: flex;
    text-align: center;
    font-size: inherit;
    border: solid #2c2c2c;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    margin-bottom: 1%;
}

.password {
    display: flex;
    text-align: center;
    font-size: inherit;
    border: solid #2c2c2c;
    border-radius: 5px;
    height: 30px;
    width: 150px;
}

.remember-row {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.remember-me {
    display: flex;
    align-self: center;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border: solid #2c2c2c;
    border-radius: 5px;
}

.remember-row p {
    margin-bottom: 25px;
}

.login-btn {
    display: flex;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: inherit;
    height: 35px;
    width: 150px;
    border: solid #000000da;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
}

.forgot-pass {
    padding-top: 5%;
}

.create-acc {
    padding-top: 10%;
}

.aside-login {
    display: flex;
    flex-direction: column;
}

.google {
    padding-bottom: 2%;
}

.google button {
    display: flex;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: inherit;
    background-color: #c182f2;
    color: #000000;
    border: solid #2c2c2c;
    border-radius: 5px;
    padding: 2% 0% 2% 0%;
}

.facebook {
    padding-top: 2%;
}

.facebook button {
    display: flex;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: inherit;
    background-color: #7287f5;
    color: #000000;
    border: solid #2c2c2c;
    border-radius: 5px;
    padding: 2% 0% 2% 0%;
}