.query {
    font-size: 16pt;
    font-weight: bold;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 5%;
}


.search-grid {
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(5, 11em);
    grid-gap: 1.5em;
}

.movie {
    position: relative;
    text-align: center;
    width: fit-content;
    font-size: 12pt;
}

.movie-poster {
    object-fit: cover;
}