.pages-categories {
    position: relative;
    text-align: center;
    width: 100%;
}

.pages-content {
    height: 100%;
    padding-bottom: 10%;
}

.pages-category {
    padding: 5% 10% 5% 10%;
}

.pages-h1 {
   font-size: 1.8em;
}

.pages-grid img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.pages-grid {
    display: grid;
    grid-template-columns: repeat(5, 11em);
    grid-gap: 1.5em;
    justify-content: center;
}

/* Button */
.change-page-buttons {
    display: flex;
    justify-content: center;
}

.change-page-div {
    padding: 1em;
}

@media only screen and (max-width: 1200px) {
    .pages-h1 {
        font-size: 1.8em;
    }
    
    .pages-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
        z-index: 0;
    }

    .change-page-buttons {
        display: flex;
        justify-content: center;
    }
    
    .change-page-div {
        padding: 1em;
    }
}

@media only screen and (max-width: 800px) {
    .pages-h1 {
        font-size: 1.5em;
    }

    .pages-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
        z-index: 0;
    }
}


@media only screen and (max-width: 420px) {
    .pages-h1 {
        font-size: 1em;
    }

    .pages-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
        z-index: 0;
    }

    .change-page-buttons {
        display: flex;
        justify-content: center;
    }
    
    .change-page-div {
        padding: 1em;
    }
}