.pages-categories {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    height: 350px;
    width: 200px;
}

.pages-poster {
    height: 250px;
}

.pages-content {
    height: 100%;
    padding-bottom: 10%;
}

.pages-category {
    padding: 5% 10% 5% 10%;
}
.pages-h1 {
   font-size: 1.8em;
}

.pages-grid {
    display: flex;
    flex-direction: column;
    width: 100%;   height: 80%;
    object-fit: cover;
} 

.pages-button{
    visibility: hidden;
}

.pages-grid-container {
    overflow: scroll;
    padding: 0% 20% 5% 20%;
    height: 500px;
    /* Hides scrollbar for Internet Explorer, Edge and Firefox */
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hides scrollbar for Chrome, Safari and Opera */
.pages-grid-container::-webkit-scrollbar {
    display: none;
}

.pages-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
    align-items: center;
    justify-content: center;
    
}
.change-page-buttons {
    display: flex;
    justify-content: center;
}

.change-page-div {
    padding: 1em;
}

@media only screen and (max-width: 1200px) {
    .pages-h1 {
        font-size: 1.8em;
    }
    
    .pages-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
        z-index: 0;
    }

    .change-page-buttons {
        display: flex;
        justify-content: center;
    }
    
    .change-page-div {
        padding: 1em;
    }
}

@media only screen and (max-width: 800px) {
    .pages-h1 {
        font-size: 1.5em;
    }

    .pages-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
        z-index: 0;
    }
}


@media only screen and (max-width: 420px) {
    .pages-h1 {
        font-size: 1em;
    }

    .pages-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10%;
        z-index: 0;
    }

    .change-page-buttons {
        display: flex;
        justify-content: center;
    }
    
    .change-page-div {
        padding: 1em;
    }
}