.startscreen-wrap {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    width: 100%;
    background-color: #EAE7F1;
}

/* MOVIE SLIDER */

#movie-slider {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.movie-slide-div {
    position: relative;
    text-align: center;
    width: 100%;
    max-height: 30em;
}

.movie-slide-title {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    font-size: 200%;
    font-weight: bold;
    color: white;
    background-color: #00000094;
    border-radius: 5px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.movie-slide-heart {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 2em;
    color: white;
}

.react-3d-carousel img {
    width: 100%;
    height: 30em;
    object-fit: content;
}

.fa-arrow-left {
    color: black;
}

.fa-arrow-right {
    color: black;
}

/* POPULAR MOVIES */

#popular-movies {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 3em;
}

.popular-movies-container {
    overflow: scroll;
    padding: 0% 20% 5% 20%;
    height: 500px;
}

/* Hides scrollbar for Chrome, Safari and Opera */
.popular-movies-container::-webkit-scrollbar {
    display: none;
}

/* Hides scrollbar for Internet Explorer, Edge and Firefox */
.popular-movies-container {
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.grids-popular-movies {
    justify-content: center;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(5, 11em);
    /* grid-template-rows: repeat(2, 20em); */
}

.grids-popular-movies img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.popular-movies-div {
    position: relative;
    text-align: center;
    width: 100%;
}

.movie-heart {
    position: absolute;
    top: 1.5%;
    right: 2%;
    font-size: 1.5em;
    color: white;
}

.start-screen-buttons {
    display: flex;
    justify-content: center;
}

.change-page-div {
    padding: 1em;
}

.change-page-button {
    padding: 0.5em;
    background-color: transparent;
    border: transparent;
    font-size: 1em;
    font-weight: bold;
}

.change-page-button:hover {
    color: #7287F5;
    transform: scale(1.1);
}

.loading-text {
    padding-top: 3em;
}

@media only screen and (max-width: 1200px) {
    .movie-slide-div {
        position: relative;
        text-align: center;
        width: 100%;
        max-height: 20em;
    }

    .react-3d-carousel img {
        width: 100%;
        height: 20em;
        object-fit: cover;
    }

    .grids-popular-movies {
        justify-content: center;
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: repeat(4, 11em);
    }
}

@media only screen and (max-width: 800px) {
    .movie-slide-div {
        position: relative;
        text-align: center;
        width: 100%;
        max-height: 15em;
    }

    .react-3d-carousel img {
        width: 100%;
        height: 15em;
        object-fit: cover;
    }

    .movie-slide-title {
        font-size: 120%;
    }

    .grids-popular-movies {
        justify-content: center;
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: repeat(2, 11em);
        
    }
}

@media only screen and (max-width: 400px) {
    .movie-slide-div {
        position: relative;
        text-align: center;
        width: 100%;
        max-height: 10em;
    }

    .react-3d-carousel img {
        width: 100%;
        height: 10em;
        object-fit: cover;
    }

    .movie-slide-title {
        font-size: 100%;
    }

    .grids-popular-movies {
        justify-content: center;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(1, 11em);
    }
}