.App {
  text-align: center;
}

.App-header {
  background:linear-gradient(#0064fabd, transparent);
  background-color: #b672f5b2;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  
}

.nav-button {
  background-color: transparent;
  border: transparent;

}

#nav-btn-home {
  justify-content: flex-start;
  font-size: 30px;
  margin-right: 10px;
}

#nav-btn-home:hover {
  color: white;
  transform: scale(1.1);
}

#nav-btn-movies {
  margin-left: 20px;
  font-size: 18px;
}

#nav-btn-movies:hover {
  color: white;
  transform: scale(1.1);
}

#nav-btn-categories {
  margin-left: 20px;
  font-size: 18px;
}

#nav-btn-categories:hover {
  color: white;
  transform: scale(1.1);
}

#nav-btn-favorites {
  margin-left: 20px;
  font-size: 18px;
}
#nav-btn-favorites:hover {
  color: white;
  transform: scale(1.1);
}

.search-field {
  height: 28px;
  margin-left: 20px;
}

#magnify-glass {
  margin-bottom: -12px;
  margin-left: 4px;
  position: 60px;
  height: 32px;
  width: 34px;
  border-radius:3px;
}

#magnify-glass:hover {
  color: white;
  transform: scale(1.1);
}

#nav-btn-login:hover {
  color: white;
  transform: scale(1.1);
}

#nav-btn-register {
  margin-left: 20px;
  font-size: 18px;
}

#nav-btn-register:hover {
  color: white;
  transform: scale(1.1);
}

#nav-btn-login{
  margin-left: 60px;
  font-size: 18px;
}

#nav-btn-login:hover {
  color: white;
  transform: scale(1.1);
}

#nav-symbol-shopcart {
  margin-bottom: -12px;
  margin-left: 30px;
  height: 34px;
  width: 75px;
}

#nav-symbol-shopcart:hover {
  color: white;
  transform: scale(1.2);
}

.footer {
  display: flex;
  align-content: flex-start;
  position: relative;
  width: auto;
  margin-top: 0px;
}

#footer-text {
  font-size: 0.8em;
  margin-bottom: 0px;
  padding-right: 0%;
}
