.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.app-wrap {
  padding-bottom: 2.5rem;
}

main {
  background-color: #eae7f1;
}

.App-header {
  background:linear-gradient(#7287f5, transparent);
  background-color: #c182f2;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-home-button {
  background-color: transparent;
  border: transparent;
}

.nav-button {
  background-color: transparent;
  border: transparent;
}

#nav-btn-home {
  justify-content: flex-start;
  font-size: 30px;
  font-weight: bolder;
  margin-right: 10px;
}

#nav-btn-home:hover {
  color: white;
  transform: scale(1.1);
}

#nav-btn-movies {
  margin-left: 20px;
  font-size: 18px;
}

#nav-btn-movies:hover {
  color: white;
  transform: scale(1.1);
}

#nav-btn-categories {
  margin-left: 20px;
  font-size: 18px;
}

#nav-btn-categories:hover {
  color: white;
  transform: scale(1.1);
}

.search-field {
  height: 28px;
  margin-left: 20px;
}

/*.burger-icon {
  display: none;
}*/

  .footer {
    display: flex;
    align-content: flex-start;
    padding-top: 2%;
    background: linear-gradient(#c182f2, transparent);
    background-color: #7287f5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }

  .footer p {
    padding-left: 1%;
    font-size: 0.9em;
  }

  @media only screen and (max-width: 1200px) {
    .App-header {
      display: flex;
      flex-direction: column;
      background:linear-gradient(#7287f5, transparent);
      background-color: #c182f2;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      margin-top: -50px;
      margin-bottom: 2em;
      color: white;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    #nav-container {
      width: 100vw;
    }
  }


  @media only screen and (max-width: 800px) {
    .App-header {
      display: flex;
      flex-direction: column;
      background:linear-gradient(#7287f5, transparent);
      background-color: #c182f2;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      margin-top: -50px;
      margin-bottom: 2em;
      color: white;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    #nav-container {
      width: 100vw;
    }

    .nav-button {
      margin-top: 3em;
    }
  
    #nav-btn-home {
      padding-bottom: 5%;
      position: absolute;
      font-size: 30px;
      left: 35%;
      top: 9%;
    }

    #nav-btn-home:hover {
      color: white;
      transform: scale(1.1);
    }

    #nav-btn-movies {
      margin-top: 5%;
      margin-left: 20px;
      font-size: 13px;
    }

    #nav-btn-categories {
      margin-left: 3%;
      font-size: 13px;
    }

    .search-field {
      /*display: block;*/
      height: 18px;
      margin-top: 10%;
      margin-bottom: -50px;
    }

    /*.burger-icon {
      display: block;
      position: absolute;
      left: 0;
      top: 28%;
      
      color: #000000;
    }*/
  
  }

  @media only screen and (max-width: 420px) {
    .App-header {
      display: flex;
      flex-direction: column;
      background:linear-gradient(#7287f5, transparent);
      background-color: #c182f2;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      margin-top: -50px;
      color: white;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    #nav-container {
      width: 100vw;
    }

    #nav-btn-home {
      padding-bottom: 5%;
      position: absolute;
      font-size: 1.8em;
      left: 26%;
      top: 9%;
    }

    .nav-button {
      margin-top: 5em;
    }

    .footer {
      display: flex;
      align-content: flex-start;
      padding-top: 2%;
      background: linear-gradient(#c182f2, transparent);
      background-color: #7287f5;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2.5rem;
    }
  
    .footer p {
      padding-left: 1%;
      font-size: 0.6em;
    }
  }